<app-main-frame>
  <main>
    <header>
      <h2>Search by</h2>
      <div id="search-options-container">
        <button [ngClass]="{'active': searchType === SearchTypes.USERNAME}" class="search-option" (click)="onSelectSearchType(SearchTypes.USERNAME)">Username</button>
        <button [ngClass]="{'active': searchType === SearchTypes.RECIPE_NAME}" class="search-option" (click)="onSelectSearchType(SearchTypes.RECIPE_NAME)">Recipe name</button>
        <button [ngClass]="{'active': searchType === SearchTypes.RECIPE_CATEGORY}" class="search-option" (click)="onSelectSearchType(SearchTypes.RECIPE_CATEGORY)">Recipe category</button>
        <button [ngClass]="{'active': searchType === SearchTypes.RECIPE_INGREDIENT}" class="search-option" (click)="onSelectSearchType(SearchTypes.RECIPE_INGREDIENT)">Recipe ingredient</button>
      </div>
      <div id="search-form-container">
        <form [formGroup]="searchForm" (submit)="search()">
          @switch (searchType) {
            @case (SearchTypes.USERNAME) {
              <mat-form-field id="username">
                <mat-label>Username</mat-label>
                <input type="text"
                placeholder="Type to search..."
                 aria-label="Username"
                 matInput
                 formControlName="username">
              </mat-form-field>  
            } @case (SearchTypes.RECIPE_NAME) {
              <mat-form-field id="recipe-name">
                <mat-label>Recipe name</mat-label>
                <input type="text"
                placeholder="Type to search..."
                 aria-label="Recipe name"
                 matInput
                 formControlName="recipeName">
              </mat-form-field>  
            } @case (SearchTypes.RECIPE_CATEGORY) {
              <mat-form-field id="recipeCategory">
                <mat-label>Category</mat-label>
                <input type="text"
                  placeholder="Type to search..."
                  aria-label="Category"
                  matInput
                  formControlName="recipeCategory"
                  [matAutocomplete]="autoRecipeCategory">
                <mat-autocomplete #autoRecipeCategory="matAutocomplete">
                  @for (category of filteredRecipeCategories | async; track category) {
                    <mat-option [value]="category">{{category}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            } @case (SearchTypes.RECIPE_INGREDIENT) {
              <mat-form-field id="recipeIngredient">
                <mat-label>Ingredient</mat-label>
                <input type="text"
                  placeholder="Type to search..."
                  aria-label="Ingredient"
                  matInput
                  formControlName="recipeIngredient"
                  [matAutocomplete]="autoRecipeIngredient">
                <mat-autocomplete #autoRecipeIngredient="matAutocomplete">
                  @for (ingredient of filteredRecipeIngredients | async; track ingredient) {
                    <mat-option [value]="ingredient">{{ingredient}}</mat-option>
                  }
                </mat-autocomplete>
              </mat-form-field>
            }
          }
        </form>
        <span class="material-icons-outlined" (click)="search()">search</span>
      </div>
    </header>
    <div id="results-container">
      @for (item of results; track item.id) {
        <app-search-result [item]="item"></app-search-result>
      } @empty {
        @if (isSearching) {
          <p>No results found</p>
        }
      }
    </div>
  </main>
</app-main-frame>