<!-- <app-main-frame>
  @switch (user.role) {
    @case (Roles.Standard) {
          <div id="profile-container">
            <div id="profile-info">
              <div id="profile-photo">
                <img src="logo/photodefault.png" alt="Foto del profilo">
              </div>
              <div id="personal-info">
                <h3>{{ user.username }}</h3>
                <div id="preferences">
                  <p>Piatto preferito: pizza</p>
                  <p>Chef appassionata alla cucina</p>
                </div>
              </div>
              <div id="user-profile">
                <div id="user-statistics">
                  <div class="statistic-item">
                    <h4>Follower</h4>
                    <p>456</p>
                  </div>
                  <div class="statistic-item">
                    <h4>Seguiti</h4>
                    <p>456</p>
                  </div>
                  <div class="statistic-item">
                    <h4>Post</h4>
                    <p>8</p>
                  </div>
                </div>
                <button id="follow-button">Segui</button>
              </div>
            </div>
            <div class="post-images">
              <div class="post-image">
                <img src="logo/food.jpg" alt="Immagine post 1">
              </div>
              <div class="post-image">
                <img src="logo/food.jpg" alt="Immagine post 2">
              </div>
              <div class="post-image">
                <img src="logo/food.jpg" alt="Immagine post 3">
              </div>
              <div class="post-image">
                <img src="logo/food.jpg" alt="Immagine post 4">
              </div>
            </div>
          </div>
        }
        @case (Roles.Moderator) {
          <div id="profile-container">
            <div id="profile-info">
              <div id="profile-photo">
                <img src="logo/photodefault.png" alt="Foto del profilo">
              </div>
              <div id="personal-info">
                <h3>Benvenuto {{ user.username }}</h3>
                <div id="preferences">
                  <p>Segnalazioni totali: {{ user.id }}</p>
                </div>
              </div>
              <div id="user-profile">
                <div id="user-statistics">
                  <div class="statistic-item">
                    <h4>Segnalazioni attive</h4>
                    <p>{{ user.id }}</p>
                  </div>
                  <div class="statistic-item">
                    <h4>Post segnalati</h4>
                    <p>{{ user.id }}</p>
                  </div>
                  <div class="statistic-item">
                    <h4>Commenti segnalati</h4>
                    <p>{{ user.id }}</p>
                  </div>
                </div>
              </div>
              <div class="post-images">
              </div>
            </div>
            <div id="graph-container">
              <h4>Segnalazioni ultimi 30 giorni</h4>
              <canvas id="reportChart"></canvas>
            </div>
          </div>
        }
      }
</app-main-frame> -->
