* {
  border-radius: 15px;
}

h2 {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 15px;
}

.report-button {
  background-color: var(--alizarin-crimson);
  color: var(--pure-white);
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: var(--cardinal);
}