<main>
  <div class="post-container">
    <div class="profile-container">
      <div class="profile-info">
        <div class="profile-picture-container">
          <img [src]="post().user.picture ?? 'assets/blank_user.png' " alt="Foto profilo" />
        </div>
        <div class="profile-username">
          <span>{{ post().user.username }}</span>
        </div>
      </div>
      <div class="profile-menu">
        <span (click)="openReportDialog()" class="material-icons-outlined medium-icon">feedback</span>
      </div>
    </div>
    <div class="recipe-image-container">
      <img [src]="post().picture" alt="Foto ricetta" />
    </div>
    <div class="actions-container">
      <div class="interactions-container">
        @if (post().liked) {
          <span (click)="onUnlinke()" class="material-icons-outlined">favorite</span>
        } @else {
          <span (click)="onLike()" class="material-icons-outlined">favorite_border</span>
        }
        <span (click)="onShare()" class="material-icons-outlined">share</span>
      </div>
      @if (post().saved) {
        <span (click)="onUnsave()" class="material-icons-outlined">bookmark</span>
      } @else {
        <span (click)="onSave()"  class="material-icons-outlined">bookmark_border</span>
      }
    </div>
    <div class="description-container">
      @if (post().recipe.description.length > 200) {
        <p>{{ post().recipe.description.slice(0, 200) + "..." }}</p>
      } @else {
        <p>{{ post().recipe.description }}</p>
      }
    </div>
  </div>
  <app-post-details [post]="post()"></app-post-details>
</main>
