<app-main-frame>
  @if (Roles.Standard) {
    <div id="profile-container">
      <div id="profile-info">
        @if (isEditing) {
          <div id="profile-photo" (click)="fileInput.click()">
            <img [src]="imageSrc" alt="Profile Image" />
            <input
              type="file"
              accept="image/*"
              #fileInput
              (change)="onFileSelected($event)" 
              hidden
            />
          </div>
        } @else {
          <div id="profile-photo">
            <img [src]="user!.picture ?? 'assets/blank_user.png'" alt="Profile Image" />
          </div>
        }
        <div id="personal-info">
          @if (!isEditing) {
            <h3>{{ user!.username }}</h3>
            @if (user!.favoriteDish) {
              <p><b>Favourite Dish:</b> {{ user!.favoriteDish }}</p>
            }
            @if (user!.foodPreference) {
              <p><b>Food Preference:</b> {{ user!.foodPreference }}</p>
            }
          } @else {
            <form [formGroup]="editForm" (submit)="saveProfileChanges()">
              <div class="edit-section">
                <mat-form-field id="username">
                  <mat-label>Username</mat-label>
                  <input type="text"
                   [placeholder]="user!.username"
                   aria-label="username"
                   matInput
                   formControlName="username">
                </mat-form-field>  
              </div>
              <div class="edit-section">
                <mat-form-field id="favoriteDish">
                  <mat-label>Favorite Dish</mat-label>
                  <input type="text"
                   placeholder="Favorite Dish"
                   aria-label="Favorite Dish"
                   matInput
                   formControlName="favoriteDish">
                </mat-form-field>
              </div>
              <div class="edit-section">
                <mat-form-field id="foodPreference">
                  <mat-label>Food Preference</mat-label>
                  <input type="text"
                    placeholder="Food Preference"
                    aria-label="Food Preference"
                    matInput
                    formControlName="foodPreference"
                    [matAutocomplete]="autoFoodPreference">
                  <mat-autocomplete #autoFoodPreference="matAutocomplete">
                    @for (category of filteredFoodCategories | async; track category) {
                      <mat-option [value]="category">{{category.replace("_", " ")}}</mat-option>
                    }
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </form>
          }
        </div>
        <div id="user-profile">
          <div id="user-statistics">
            <div class="statistic-item">
              <h4>Posts</h4>
              <p>{{ user!.posts }}</p>
            </div>
            <div class="statistic-item">
              <h4>Followers</h4>
              <p>{{ user!.followers }}</p>
            </div>
            <div class="statistic-item">
              <h4>Following</h4>
              <p>{{ user!.following }}</p>
            </div>
          </div>
          @if (auth.getUser()?.id === user!.id) {
            @if (!isEditing) {
              <div class="profile-button" (click)="toggleEdit()">
                <button>Edit Profile</button>
              </div>
            } @else {
              <div class="profile-button" (click)="cancelEdit()">
                <button>Save edits</button>
              </div>
              <div class="profile-button" (click)="cancelEdit()">
                <button>Cancel edits</button>
              </div>
            }
          } @else {
            @if (user!.isFollowing) {
              <div class="profile-button" (click)="unfollowUser()">
                <button>Unfollow</button>
              </div>
            } @else {
              <div class="profile-button" (click)="followUser()">
                <button>Follow</button>
              </div>
            } 
          }
        </div>
      </div>
      <div class="post-images">
        @for (post of posts; track post.id) { 
          <div class="post-image" (click)="router.navigate(['/recipe', post.id]);">
            <img [src]="post.picture" alt="Immagine post">
          </div>
        }
      </div>
    </div>
  } @else if (Roles.Moderator) {
    <!-- <div id="profile-container">
      <div id="profile-info">
        <div id="profile-photo">
          <img src="logo/photodefault.png" alt="Foto del profilo">
        </div>
        <div id="personal-info">
          <h3>Benvenuto {{ moderatorUser?.username }}</h3>
          <div id="preferences">
            <p>Segnalazioni totali: {{ moderatorUser?.id }}</p>
          </div>
        </div>
        <div id="user-profile">
          <div id="user-statistics">
            <div class="statistic-item">
              <h4>Segnalazioni attive</h4>
              <p>{{ moderatorUser?.id }}</p>
            </div>
            <div class="statistic-item">
              <h4>Post segnalati</h4>
              <p>{{ moderatorUser?.id }}</p>
            </div>
            <div class="statistic-item">
              <h4>Commenti segnalati</h4>
              <p>{{ moderatorUser?.id }}</p>
            </div>
          </div>
        </div>
        <div class="post-images">
        </div>
      </div>
      <div id="graph-container">
        <h4>Segnalazioni ultimi 30 giorni</h4>
        <canvas id="reportChart"></canvas>
      </div>
    </div> -->
  }
</app-main-frame>
