main {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#overview-section,
#comments-section {
  width: 100%;

  border: 1px solid var(--light-silver);
  border-radius: 15px;
  padding: 0 10px 10px 10px;

  background-color: var(--pure-white);
}

#overview-section {
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#comments-section {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

#header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#header h1 {
  font-size: 1.75rem;
}

#recipe-button {
  background-color: var(--alizarin-crimson);
  color: var(--pure-white);
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

#recipe-button:hover {
  background-color: var(--cardinal);
}

#info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.info span {
  font-size: 30px;
  color: #1E1E1E;
}

#tags-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

.tag {
  font-weight: bold;
  color: var(--pure-white);
  background-color: #1E1E1E;
  padding: 5px 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
  font-size: 16px;
  border-radius: 10px;
}

#comments-container {
  width: 100%;
  height: 358px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  overflow: hidden auto;
}

#comments-container app-comment:first-child {
  margin-top: 10px;
}

#comments-container app-comment:last-child {
  margin-bottom: 100px;
}

#comments-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#comments-container::-webkit-scrollbar-thumb {
  background-color: var(--alizarin-crimson);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

#comments-container::-webkit-scrollbar-track {
  background-color: var(--pure-white);
  border-radius: 10px;
}

#new-comment-form-container {
  width: 100%;
  height: 100px;

  position: absolute;
  bottom: 0;
}

textarea {
  width: calc(100% - 20px);
  height: 90px;

  padding: 10px 40px 10px 10px;

  border: 1px solid var(--light-silver);
  border-radius: 10px;

  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

#submit-comment-icon {
  position: absolute;
  bottom: 18px;
  right: 25px;
  cursor: pointer;
}