<main>
  <section id="overview-section">
    <div id="header">
      <span>{{ post().recipe.title }}</span>
    </div>
    <div id="info">
      <div class="info">
        <span class="material-icons-outlined">timer</span>
        <span>{{ post().duration }} min</span>
      </div>
      <div class="info">
        <span class="material-icons-outlined">trending_up</span>
        <span>{{ post().recipe.difficulty }}</span>
      </div>
    </div>
    <div id="tags-container">
      <div class="tag">
        <span class="material-icons-outlined">done</span>
        <span>{{ post().recipe.category }}</span>
      </div>
    </div>
  </section>
  <section id="comments-section">
    <div id="comments-container">
      @for (comment of post().comments; track comment.id) {
        <app-comment [comment]="comment"></app-comment>
      }
    </div>
    <div id="new-comment-form-container">
      <form [formGroup]="commentForm">
        <textarea 
          placeholder="Write your comment here..."
          formControlName="text">
        </textarea>
        @if (commentForm.get('text')?.value?.length > 0) {
          <span id="submit-comment-icon" class="material-icons-outlined" (click)="onSubmitComment()">send</span>
        }
      </form>
    </div>
  </section>
  <button id="recipe-button" (click)="router.navigate(['/recipe', post().id]);">Go to recipe</button>
</main>