  main {
    width: 100%;
    height: fit-content;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 35px;
    background-color: var(--light-silver);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

  .step-slit {
    position: relative;
    width: fit-content;
    top: 110px;
    right: 30px;
    user-select: none;
    cursor: pointer;
  }

  .icon-slit:hover {
    color: var(--philippine-gray);
  }

  .step-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
  }

  .step-number {
    font-size: 30px;
    font-weight: bold;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    color: var(--black);
    border: solid 5px var(--alizarin-crimson);
    background-color: var(--pure-white);
  }

  .step-title {
    flex-grow: 1;
    border: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--pure-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .step-title:focus {
    outline: solid 2px var(--alizarin-crimson);
  }

  .step-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .step-description {
    flex-grow: 1;
    height: 80px;
    border: none;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--pure-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    resize: none;
  }

  .step-description:focus {
    outline: solid 2px var(--alizarin-crimson);
  }

  .step-delete-icon {
    cursor: pointer;
    font-size: 28px;
    margin-left: 10px;
    color: var(--black);
  }

  .step-delete-icon:hover {
    color: var(--cardinal);
  }

  .step-ingredients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  .step-ingredients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }

  .ingredient-item {
    padding: 8px 15px;
    border-radius: 20px;
    color: var(--pure-white);
    background-color: var(--alizarin-crimson);
    font-size: 0.9rem;
  }

  #add-ingredient-icon {
    cursor: pointer;
    font-size: 28px;
    color: var(--black);
  }

  #add-ingredient-icon:hover {
    color: var(--cardinal);
  }