<form class="space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="username" class="block text-sm/6 font-medium text-gray-900">Username</label>
    <div class="mt-2">
      <input type="text" name="username" id="username" autocomplete="username" required formControlName="username" [(ngModel)]="username" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-alizarin-crimson sm:text-sm/6">
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        @if (registerForm.get('username')?.touched) {
          @if (registerForm.get('username')?.hasError('required')) {
            Please enter the username
          } @else if (registerForm.get('username')?.hasError('minlength')) {
            Username must be at least 6 characters long
          }
        }
      </p>
    </div>
  </div>

  <div>
    <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
    <div class="mt-2">
      <input type="email" name="email" id="email" autocomplete="email" required formControlName="email" [(ngModel)]="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-alizarin-crimson sm:text-sm/6">
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        @if (registerForm.get('email')?.touched) {
          @if (registerForm.get('email')?.hasError('required')) {
            Please enter the email address
          } @else if (registerForm.get('email')?.hasError('email')) {
            Please enter a valid email address
          }
        }
      </p>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <label for="password" class="block text-sm/6 font-medium text-gray-900">Password</label>
    </div>
    <div class="mt-2">
      <input type="password" name="password" id="password" autocomplete="current-password" required formControlName="password" [(ngModel)]="password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-alizarin-crimson sm:text-sm/6">
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        @if (registerForm.get('password')?.touched) {
          @if (registerForm.get('password')?.hasError('required')) {
            Please enter the password
          } @else if (registerForm.get('password')?.hasError('minlength')) {
            Password must be at least 8 characters long
          } @else if (registerForm.get('password')?.hasError('matchCostraints')) {
            Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (!#$%^&*,.?)
          }
        }
      </p>
    </div>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <label for="password-confirmation" class="block text-sm/6 font-medium text-gray-900">Confirm Password</label>
    </div>
    <div class="mt-2">
      <input type="password" name="password-confirmation" id="password-confirmation" autocomplete="current-password" formControlName="passwordConfirmation" required [(ngModel)]="passwordConfirmation" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-alizarin-crimson sm:text-sm/6">
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        @if (registerForm.get('passwordConfirmation')?.touched) {
          @if (registerForm.get('passwordConfirmation')?.hasError('required')) {
            Please confirm the password
          } @else if (registerForm.get('passwordConfirmation')?.value !== registerForm.get('password')?.value) {
            Passwords do not match
          }
        }
      </p>
    </div>
  </div>

  <div class="mt-2 flex items-center">
    <input (input)="togglePassword()" type="checkbox" id="show-password" class="h-4 w-4 rounded">
    <label for="show-password" class="ml-2 block text-sm/6 text-gray-900">Show password</label>
  </div>

  <div>
    <button [disabled]="!registerForm.valid || registerForm.get('passwordConfirmation')?.value !== registerForm.get('password')?.value" type="submit" class="flex w-full justify-center rounded-md bg-alizarin-crimson px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-alizarin-crimson">Sign up</button>
  </div>
</form>