main {
  width: inherit;
  height: 300px;
  min-height: 300px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

#step {
  width: 90%;

  border: 1px solid var(--light-silver);
  border-radius: 15px;
  
  padding: 18px 50px;

  background-color: var(--pure-white);
  
  position: relative;
}

#actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

#actions button {
  width: 50px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 5px;

  background-color: var(--alizarin-crimson);
  color: var(--pure-white);

  cursor: pointer;
}

#dragger {
  cursor: grab !important;
}

#step-number {
  position: absolute;
  top: -8px;
  left: -8px;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  background-color: var(--alizarin-crimson);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--pure-white);
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#action-container {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

#step-description {
  width: 100%;
  height: 150px;
}

#ingredients {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.ingredient {
  font-size: 15px;
  color: var(--pure-white);
  background-color: #1E1E1E;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}