@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pure-white: #FFFFFF;
  --cultured: #FAF9F6;
  --alizarin-crimson: #D72638;
  --cardinal: #C92334;
  --light-silver: #D1D5DB;
  --quartz: #4A4A4A;
  --philippine-gray: #8D9095;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

button[type="submit"] {
  background-color: var(--alizarin-crimson);
}

button[type="submit"]:hover {
  background-color: var(--cardinal);
}

button[type="submit"]:disabled {
  background-color: var(--light-silver);
  color: var(--pure-white);
}

h1 {
  font-size: 30px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--alizarin-crimson); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--cardinal);
}

.toast {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--quartz);
  color: var(--pure-white);
  display: flex;
  align-items: center;
  z-index: 9999;
  font-family: 'Rubik', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border: solid 2px #000;
}

.toast-success {
  background-color: #4caf50;
}

.toast-warning {
  background-color: #ff9800;
}

.toast-error {
  background-color: var(--cardinal);
}

.toast span {
  margin-left: 10px;
}

.material-icons-round {
  font-size: 18px;
}

