#saved-posts-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  padding: 10px;

  overflow: scroll;
}

#saved-posts-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#saved-posts-container::-webkit-scrollbar-thumb {
  background-color: var(--alizarin-crimson);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

#saved-posts-container::-webkit-scrollbar-track {
  background-color: var(--pure-white);
  border-radius: 10px;
}

.saved-post {
  flex: 1 1 calc(33.33% - 10px);
  min-width: 250px;
  max-width: calc(33.33% - 10px);
  cursor: pointer;
}

.saved-post img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}
